<form class="form-inline" style="float: left;">
    <input id="limit" class="form-control" type="number" ng-model="ctrl.limit" ng-change="ctrl.loadPersons()" style="width: 8em;"/>
    <label for="limit" class="fa fa-list-ol"></label>
    <input id="search" class="form-control" type="text" ng-model="ctrl.search" ng-change="ctrl.loadPersons()"/>
    <label for="search" class="fa fa-search"></label>
</form>

&nbsp;&nbsp;&nbsp;

<span class label="label label-default">
    Pasujących
    <span class="badge" ng-bind="ctrl.personsFiltered"></span>
</span>
<span class label="label label-default">
    Wszystkich
    <span class="badge" ng-bind="ctrl.personsCount"></span>
</span>

<form class="form-inline" style="float: right;">
    <button class="btn btn-primary fa fa-plus" ng-click="ctrl.new()"></button>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>e-mail</th>
            <th>Rok ur.</th>
            <th>Grupy</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="person in ctrl.persons" ng-click="ctrl.clickPerson(person._id)">
            <td ng-bind="person.firstName"></td>
            <td ng-bind="person.lastName"></td>
            <td ng-bind="person.email"></td>
            <td ng-bind="person.yearofbirth"></td>
            <td>
                <span ng-repeat="group in person.groups | orderBy: 'name'" ng-bind="group.name + ' '"></span>
            </td>
        </tr>
    </tbody>
</table>

<div>
    <button class="btn btn-default fa fa-angle-down" ng-click="ctrl.increaseLimit()" ng-disabled="ctrl.limitReached()"></button>
</div>